.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 992px;
}

.flex {
    display: flex;
    align-items: center;
}

.cntr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx {
    cursor: pointer;
    font-size: var(--fs-lg);
}

.btn {
    border: 2px solid #D7DEEB;
    border-radius: 4px;
    color: var(--cl-wh-400);
    background-color: var(--cl-bl-400);
}

.banner {
    height: 5rem;
    background-color: var(--cl-in-400);
}

.banner--wrap {
    height: 100%;
    align-items: center;
}

.column {
    padding: 2rem 0;
    background-color: var(--cl-in-300);
}

.column--wrap {
    min-height: calc(100vh - 5rem);
    flex-direction: column;
}

.message {
    width: 100%;
    padding: 0.75em 0.5em;
    margin-bottom: var(--mb-md);
    justify-content: space-between;
}

.message__detail {
    color: #FFFFFF;
}

.message__delete {
    cursor: pointer;
}

.danger {
    border: 2px solid rgb(243, 179, 179);
    border-radius: 5px;
    background-color: rgb(218, 126, 126);
}